body{
    font-family: 'Raleway', sans-serif;
    background: #ececec;
}

a {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
}

input:focus,textarea:focus,select:focus{
    border:1px solid #fafafa;
    -webkit-box-shadow:0 0 6px #007eff;
    -moz-box-shadow:0 0 5px #007eff;
    box-shadow:0 0 5px #007eff;
    outline: none;
}

sup{

    font-size: 40px;
}

ul{
    max-width: 910px;
    list-style: none;
    font-size: 15px;
    font-family:'Open Sans', sans-serif;
    color: #9095aa;
    padding: 0px;
    margin: auto;
}


li{
    border-bottom: 1px solid #494a5a;
    padding: 0px;
    margin: 0px;
    text-align: center;
    height: 52px;
    line-height: 52px;
}

img{
    width:100%;
    height:100%;
}
#prevTree, #newTree, #commonTree {
    background-color: #2e475c;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    width: 910px;
    text-align: center;
}

.buffer {
    margin-bottom: 40px;
}
#commonTreeContainer{
    margin-top: 0;
}

#treeHeaderDiv{
  margin-left: auto;
  margin-right: auto;
}
.collapsibleList{
  width: 910px
  max-width: 910px;
}
ul li.collapsibleListClosed:before {

    content: "\25b6 \0020";
}

li.collapsibleListOpen:before {
    content: "\25bc \0020";
}

ul li {
    font-size: 20px;
    margin: 10px;
}

ul li ul li {
    font-size: 16px;
}

.m-wrap {
  width: 910px
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #2e475c;
  text-align: left;
  line-height: normal;
  border-bottom: 0;
  margin-top: 0px;
  margin-bottom: 10px;
}

#container{
    width: 100%;
    text-align:center;
}

.summary-button{
  display: block;
  width: 150px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color:#0f2f44;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  margin: 40px auto;
}

.whole{
    display: inline-block;
}

#shortSummary {
    background: #2e475c;
    color: white;
    padding: 2em;
    font-size: 18px;
    font-weight: 700;
}

#commonTreeDiv{
  text-align: center;
  margin: 40px auto;
}
.type{
    width: 300px;
    border-radius: 5px 5px 0px 0px;
    background-color: #2b2937;
    height: 62px;
    border-bottom: 1px solid white;
    background: linear-gradient(#a4afbb, #a4afbb);
}

.type p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 29px;
    color: #0f2f44;
    text-align: center;
    padding-top: 20px;

}

.plan{
    width: 300px;
    height: 533.33px;
    background-color: #2b2937;

    border-radius: 0px 0px 5px 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    color: white;
    text-align: center;
}

.standard{
    background-color: #1abc9c;
    border-bottom: 3px solid #18937b;
}

.ultimate{
    background-color: #5d6a9a;
    border-bottom: 3px solid #474f6f;
}

.header{
    border-bottom: 1px solid #494a5a;
    padding-bottom: 39px;
}

.header span{
    font-size: 32px;
}

.month{
    font-size: 14px;
    color: #575757;
    padding: 0px;
    margin: -10px;
}

.price{
    height:80px;
}

.cart{
    color:white;
    position: relative;
    top: 16px;
}

.login_c{
    width: 910px;
    margin: 40px auto;
    border-radius:5px;
}

.login_c input{
    width: 350px;
    height: 40px;
    border: 1px solid #494a5a;
    margin-bottom:20px;
    border-radius:5px;
    padding-left: 10px;
}


.login{
    text-align: center;
    background-color: white;
    border-bottom: 1px solid white;
    width: 910px;
    margin-left: inherit;
    margin-right: inherit;
}

.top{
    margin-top:35px;
}

.nodisplay{
    opacity: 0.1;
}

.selected{
    background-color:#1F1B36;
    margin:0px;
    padding:0px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

dl {
    margin: 0px;
}

/*dropdown*/
.element {
    all: none;
}

.croppedImage {
    margin: 10px;
    width: 45%;
}

.caption {
    width: 50%;
    font-size: 25px;
    text-decoration: underline;
}

/************************** Mixins and Variables Formatting ********************/

$blue: #2980B9;
$gray: #EEE;
@mixin ul-nostyle {
    list-style: none;
    padding: 0;
    margin: 0;
}
@mixin double-shadow($color) {
    @include box-shadow(0 1px 0 lighten($color, 10%) inset, 0 -1px 0 darken($color, 10%) inset);
}
@mixin hover-style($color) {
    &:hover {
        background: lighten($color, 3%);
    }
}
@mixin animation($content) {
    animation: $content;
    -moz-animation: $content;
    -webkit-animation: $content;
}
@mixin keyframes($name) {
    @keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
}
/************************** Classes Formatting ********************/

.title {
    font-family: 'Pacifico';
    font-weight: norma;
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: $blue;
}
.dropdown {
    a {
        text-decoration: none;
    }
    [data-toggle="dropdown"] {
        position: relative;
        display: block;
        color: white;
        background: $blue;
        @include double-shadow($blue);
        @include hover-style($blue);
        @include text-shadow(0 -1px 0 rgba(0,0,0,0.3));
        padding: 10px;
    }
    .icon-arrow {
        position: absolute;
        display: block;
        font-size: 0.7em;
        color: #fff;
        top: 14px;
        right: 10px;
        &.open {
            @include transform(rotate(-180deg));
            @include transition(transform .6s);
        }
        &.close {
            @include transform(rotate(0deg));
            @include transition(transform .6s);
        }
        &:before {
            content: '\25BC';
        }
    }
    .dropdown-menu {
        max-height: 0;
        overflow: hidden;
        @include ul-nostyle;
        li {
            padding: 0;
            a {
                display: block;
                color: darken($gray, 50%);
                background: $gray;
                @include double-shadow($gray);
                @include hover-style($gray);
                @include text-shadow(0 -1px 0 rgba(255,255,255,0.3));
                padding: 10px 10px;
            }
        }
    }
    .show, .hide {
        @include transform-origin(50%, 0%);
    }
    .show {
        display: block;
        max-height: 9999px;
        @include transform(scaleY(1));
        @include animation(showAnimation .5s ease-in-out);
        @include transition(max-height 1s ease-in-out);
    }
    .hide {
        max-height: 0;
        @include transform(scaleY(0));
        @include animation(hideAnimation .4s ease-out);
        @include transition(max-height .6s ease-out);
    }
}
@include keyframes(showAnimation) {
    0% {
        @include transform(scaleY(0.1));
    }
    40% {
        @include transform(scaleY(1.04));
    }
    60% {
        @include transform(scaleY(0.98));
    }
    80% {
        @include transform(scaleY(1.04));
    }
    100% {
        @include transform(scaleY(0.98));
    }
    80% {
        @include transform(scaleY(1.02));
    }
    100% {
        @include transform(scaleY(1));
    }
}
@include keyframes(hideAnimation) {
    0% {
        @include transform(scaleY(1));
    }
    60% {
        @include transform(scaleY(0.98));
    }
    80% {
        @include transform(scaleY(1.02));
    }
    100% {
        @include transform(scaleY(0));
    }
}

/************************** Dropdown Formatting ********************/

.heading-primary {
    font-size: 2em;
    padding: 2em;
    text-align: center;
}

.accordion dl,
.accordion-list {
    border: 1px solid #ddd;
}
.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #2ba659;
}

.accordion dd,
.accordion__panel {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0px;
}

.accordion p {
    padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #eee;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
    background-color: #2e475c;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid white;
}
.accordionTitle:before,
.accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #5f7080;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #526b86;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: 100%;
    overflow: hidden;
    max-height: 50em;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    background: white;
    margin: 0px;
    text-align: center;
}

dd p {
    padding: 10px;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
